<form [formGroup]="form">
  <div class="inner-wrapper">
    <div class="field grid">
      <label class="col-fixed col-2">Номер протокола</label>
      <div class="col-10 number-input-wrapper-fix">
        <p-inputNumber styleClass="w-full" formControlName="id"></p-inputNumber>
      </div>
    </div>
    <div class="field grid">
      <label class="col-fixed col-2">Дата протокола</label>
      <div class="col-10">
        <p-calendar styleClass="w-full text-base input-p-0" formControlName="date"
                    dateFormat="dd.mm.yy"></p-calendar>
      </div>
    </div>
    <div class="field grid">
      <label class="col-fixed col-2">Заказчик</label>
      <div class="col-10">
        <p-dropdown formControlName="client"
                    styleClass="w-full text-base input-p-0"
                    [options]="clients"
                    [editable]="true"
        ></p-dropdown>
      </div>
    </div>
    <div class="field grid">
      <label class="col-fixed col-2">Дата поступления</label>
      <div class="col-10">
        <p-calendar styleClass="w-full text-base input-p-0" formControlName="arrivalDate"
                    dateFormat="dd.mm.yy"></p-calendar>
      </div>
    </div>
    <div class="field grid">
      <label class="col-fixed col-2">Состояние</label>
      <div class="col-10">
        <p-dropdown formControlName="state"
                    styleClass="w-full text-base input-p-0"
                    [options]="states"
                    [editable]="true"
        ></p-dropdown>
      </div>
    </div>
    <div class="field grid">
      <label class="col-fixed col-2">Дата проведения</label>
      <div class="col-10">
        <p-calendar styleClass="w-full text-base input-p-0" formControlName="examineDate"
                    dateFormat="dd.mm.yy"></p-calendar>
      </div>
    </div>
    <div class="field grid">
      <label class="col-fixed col-2">Давление</label>
      <div class="col-10 number-input-wrapper-fix">
        <p-inputNumber styleClass="w-full"
                       formControlName="pressure"
                       mode="decimal"
                       [minFractionDigits]="1"/>
      </div>
    </div>
    <div class="field grid">
      <label class="col-fixed col-2">Температура</label>
      <div class="col-10 number-input-wrapper-fix">
        <p-inputNumber styleClass="w-full"
                       formControlName="temperature"
                       mode="decimal"
                       [minFractionDigits]="1"/>
      </div>
    </div>
    <div class="field grid">
      <label class="col-fixed col-2">Влажность</label>
      <div class="col-10 number-input-wrapper-fix">
        <p-inputNumber styleClass="w-full" formControlName="humidity"/>
      </div>
    </div>
    <div class="field grid">
      <label class="col-fixed col-2">Исполнитель 1</label>
      <div class="col-10">
        <input pInputText class="w-full text-base p-1" formControlName="executor1"/>
      </div>
    </div>
    <div class="field grid">
      <label class="col-fixed col-2">Исполнитель 2</label>
      <div class="col-10">
        <input pInputText class="w-full text-base p-1" formControlName="executor2"/>
      </div>
    </div>
  </div>
  <app-sample-table [canEdit]="true" [samplesFA]="form.controls.samples" [samples]="samples"></app-sample-table>
  <div class="flex justify-content-end">
    <p-button styleClass="mt-3" [label]="editMode ? 'Сохранить' : 'Создать'" (onClick)="submit()"></p-button>
  </div>
</form>
